<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sobre_contact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
</head>
<body>
    <%- include('partials/header') %>

    <div class="sectionContact">
        <h1 class="page-title">Sobre Nós</h1>
        
        <h3>ESCREVER COISAS AQUI...</p>
        
    </div>
    <%- include('partials/carrinho-icon') %>
    <%- include('partials/help') %>
    <%- include('partials/footer') %>
</body>
</html>