<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3 class="footer-title">Empresa</h3>
            <ul class="footer-links">
                <li><a href="/about">Sobre Nós</a></li>
                <li><a href="/lojas">Nossos parceiros</a></li>
                <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-title">Ajuda</h3>
            <ul class="footer-links">
                <li><a href="/contact">Contato</a></li>
                <li><a href="/status-do-pedido">Status de Pedidos</a></li>
                <li><a href="/opcoes-de-pagamento">Opções de Pagamento</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-title">Siga-nos</h3>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f" user-select: none></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram" user-select: none></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin-in" user-select: none></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> Plural. Todos os direitos reservados.</p>
    </div>
</footer>